.advantages-header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  //position: relative;
  //width: 320px;
  //box-sizing: border-box;
  //background-image: url(../img/photo-cactus-mobile@1x.jpg);
  margin: 0;
  padding-top: 0;
  //background-position: top center;
  //background-repeat: no-repeat;
}

.advantages-header__wrapper {
  width: 270px;
  padding-top: 40px 20px 26px;
  //font-family: "PT Sans", sans-serif;
  //font-weight: normal;
  //line-height: 24;
  //text-align: center;
  //text-transform: uppercase;
  //color: #333;
}

.advantages-header__subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

/*.advantage__text {
  line-height: 26px;
  text-align: center;
}*/
.advantages {
  margin: 0;
  padding: 0;

  &__wrapper {
    display: flex;
    //text-align: center;
    //justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    //background-color: #eee;
  }
}

.advantage__image {
  background-color: #ffffff;
  height: 260px;
}

.advantage__image--first {
  background: url("../img/main-city-mobile@1x.jpg") no-repeat;
  background-size: cover;
}

.advantage__image--second {
  background: url("../img/main-bridge-mobile@1x.jpg") no-repeat;
  background-size: cover;
}

.advantages__list {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  color: #ffffff;
  background-color: $bg-sedona;
}

/*.advantage__item {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 9px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.advantage__item--first {
  padding: 40px 20px 22px;
}

.advantage__item--second {
  padding: 20px 20px 22px;
}

.advantages__descraption {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.advantages__descraption--first {
  padding: 25px 20px 40px;
}

.advantages__descraption--second {
  padding: 15px 20px 35px;
}*/

@media (min-width: $tablet-width) {
  .advantages-header {
    margin: 0;
    padding: 0;
  }

  .advantages-header__wrapper {
    width: 510px;
    padding: 50px 20px 14px;
  }

  .advantages-header__subtitle {
    font-size: 21px;
    //line-height: 26px;
    font-style: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
  }

  /*.advantage__text {
    display: block;
    padding: 0;
    width: 635px;
    margin: 23px 1px;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
  }*/

  .advantages {
    box-sizing: border-box;
    justify-content: center;

    &__wrapper {
      flex-direction: row;
    }
  }

  .advantages__list {
    width: 33%;
  }

  .advantage__image {
    flex-grow: 3;
  }

  .advantage__image--first {
    background: url("../img/tablet-photo-city@1x.jpg") no-repeat;
    background-size: cover;
    //height: auto;
  }

  .advantage__image--second {
    background: url("../img/photo-bridge@1x.jpg") no-repeat;
    background-size: cover;
    //height: auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    padding: 50px;
  }
}
