.form {
  width: 320px;
  margin-top: 0;
  padding: 0;
  background-color: white;
}

.form__title {
  display: block;
  padding-top: 14px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-align: center;
}

.form__content {
  margin: 0;
  padding: 0;
}

/*.form__content--block {
  min-width: 320px;
  margin-top: 0;
  padding: 0;
}*/

.form__item {
  width: 280px;
  margin-bottom: 12px;
  padding: 0;
  list-style: none;
  border: 1px solid red;
  box-sizing: border-box;
}

.form__input--text {
  display: block;
  margin: 0;
  padding-left: 22px;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
}

.form__impression {
  display: block;
  position: relative;
  margin-bottom: 12px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  text-transform: none;
}

