.main-nav {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  @include no-list;
}

.main-nav__toggle {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
  }
  .main-nav__togle {
    position: absolute;
  }

  .main-nav__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
  }
}
