.map {
  width: 100%;
  margin-top: 50px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat;
  background-size: cover;
 // border: 1px solid initial;
  min-height: 350px;
  border-color: #81b3d2;
}



@media (min-width: $tablet-width) {
  .map {
    margin-top: 60px;
    min-height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin-top: 67px;
  }
}
