.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: red;
}

.page-header__logo {
  order: 3;
  display: block;
  align-self: center;
  width: 102px;
  height: 83px;
}

.page-header__logo-image {
  margin: 0 auto;
  display: block;
}

.page-header__cont {
  margin-top: -30px;
  padding: 50px 20px 10px;
  box-sizing: border-box;
  background-color: #dbe9f2;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    background-color: #e3f0f9;
  }

  .page-header__logo {
    display: block;
    position: absolute;
    left: -10px;
    margin-right: 20px;
    margin-left: 20px;
    order: 0;
    width: 100%;
  }

  .page-header__container {
    min-height: 518px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header__logo {
    //display: block;
    //order: 3;
  }
}
