.photos__title {
  display: block;
  width: 260px;
  margin: 36px 30px 10px 30px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: #000000;
  text-align: center;
}

.photos__text {
  display: inherit;
  width: 280px;
  margin: 24px 20px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #333333;
  text-align: center;
  /* border: 1px solid red;
  box-sizing: border-box;*/
}
